@model MySch.Bll.Entity.BllPartStep

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 20px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.PartIDS)：</div>
            <input id="PartIDS" name="PartIDS" style="width:156px;"/>
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.StepIDS)：</div>
            <input id="StepIDS" name="StepIDS" style="width:156px;" />
        </div>
 </div>
}

<script type="text/javascript">
    $(function () {
        //按键：焦点转移
        $(document).keypress(function (e) {
            if (e.which == 13) {
                //错误输入聚焦
                $('.field-validation-error:first').parent().find('input').focus();
                return false;
            }
        });

        var parts = $.parseJSON('@Html.Raw(ViewBag.Parts)');
        var steps = $.parseJSON('@Html.Raw(ViewBag.Steps)');

        //加载选择框
        $('#PartIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: parts,
        });
        $('#StepIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: steps
        });

        //添加对话框
        DialogAdd('校区分级添加', 410, 250, '/UserPartStep/AddTokey', '#partsteps-grid');
    })
</script>