@model MySch.Bll.Entity.BllPartStep

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 20px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.IDS)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.IDS, new { @class = "textbox-text", @readonly = "readonly" })
            </span>
            @Html.ValidationMessageFor(a => a.IDS)
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.PartIDS)：</div>
            <input id="PartIDS" name="PartIDS" style="width:156px;" />
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.StepIDS)：</div>
            <input id="StepIDS" name="StepIDS" style="width:156px;" />
        </div>
    </div>
    @Html.HiddenFor(a => a.ID)
    @Html.HiddenFor(a => a.AccIDS)
}

<script type="text/javascript">
    $(function () {
        //按键：焦点转移
        $(document).keypress(function (e) {
            if (e.which == 13) {
                //错误输入聚焦
                $('.field-validation-error:first').parent().find('input').focus();
            }
        });

        var parts = $.parseJSON('@Html.Raw(ViewBag.Parts)');
        var steps = $.parseJSON('@Html.Raw(ViewBag.Steps)');

        //加载选择框
        $('#PartIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: parts,
            panelHeight: 100
        });
        $('#StepIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: steps
        });

        //修改对话框
        DialogEdit('校区分级修改', 410, 250, '/UserPartStep/EditTokey', '#partsteps-grid');
    })
</script>
