@model MySch.Bll.Entity.BllColumn

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 0px 0px 20px;">
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.Name)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.Name, new { @class = "textbox-text", @style = "width:300px;" })
            </span>
            @Html.ValidationMessageFor(a => a.Name)
        </div>
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.IDS)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.IDS, new { @class = "textbox-text", @style = "width:300px;" })
            </span>
            @Html.ValidationMessageFor(a => a.IDS)
        </div>
        <div class="form-item-row-line"></div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Html)：</div>
            <span class="textbox">
                @Html.TextAreaFor(a => a.Html, new { @class = "textbox-text", @style = "width:615px; height:315px;" })
            </span>
            @Html.ValidationMessageFor(a => a.Html)
        </div>
        <div class="form-item-row-line"></div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.PageIDS)：</div>
            <input id="PageIDS" name="PageIDS" style="width:625px;" />
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Fixed)：@Html.CheckBoxFor(a => a.Fixed)</div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        //按键：焦点转移
        $(document).keypress(function (e) {
            if (e.which == 13) {
                //错误输入聚焦
                $('.input-validation-error:first').focus();
            }
        });

        var pages = $.parseJSON('@Html.Raw(ViewBag.Pages)');

        //加载选择框
        $('#PageIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: pages,
            readonly: true,
        });

        //添加对话框
        DialogAdd('栏目添加', 680, 570, '/AdminCoumn/AddToken', '#admincolumns-grid');
    })
</script>