@model MySch.Bll.Entity.BllColumn

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 0px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.ThemeIDS)：</div>
            <input id="ThemeIDS" name="ThemeIDS" style="width:210px;" />
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Name)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.Name, new { @class = "textbox-text", @readonly = "readonly", @style = "width:200px;" })
            </span>
            @Html.ValidationMessageFor(a => a.Name)
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.IDS)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.IDS, new { @class = "textbox-text", @readonly = "readonly", @style = "width:200px;" })
            </span>
            @Html.ValidationMessageFor(a => a.IDS)
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Bootup)：@Html.CheckBoxFor(a => a.Bootup, new { @onclick = "return false" })</div>
        </div>
    </div>
    @Html.HiddenFor(a => a.ID)
}

<script type="text/javascript">
    $(function () {

        var themes = $.parseJSON('@Html.Raw(ViewBag.Themes)');

        //加载选择框
        $('#ThemeIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: themes,
            readonly: true,
        });

        //删除对话框
        DialogReload('页面删除', 320, 260, '/AdminPage/DelToken', '#adminpages-grid');
    })
</script>