@model MySch.Bll.Model.XueAdd

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 20px 0px 20px;">
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.GradeIDS)：</div>
            <input id="GradeIDS" name="GradeIDS" style="width:156px;" />
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.BanIDS)：</div>
            <input id="BanIDS" name="BanIDS" style="width:156px;" />
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.Name)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.Name, new { @class = "textbox-text" })
            </span>
            @Html.ValidationMessageFor(a => a.Name)
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.CID)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.CID, new { @class = "textbox-text" })
            </span>
            @Html.ValidationMessageFor(a => a.CID)
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.ComeIDS)：</div>
            <input id="ComeIDS" name="ComeIDS" style="width:156px;" />
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.OldBan)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.OldBan, new { @class = "textbox-text" })
            </span>
            @Html.ValidationMessageFor(a => a.OldBan)
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.Choose)：@Html.CheckBoxFor(a => a.Choose)</div>
        </div>
        <div class="form-item-row-line"></div>
    </div>
}

<script type="text/javascript">
    $(function () {
        //按键：焦点转移
        $(document).keypress(function (e) {
            if (e.which == 13) {
                //错误输入聚焦
                $('.field-validation-error:first').parent().find('input').focus();
                return false;
            }
        });

        var bans = $.parseJSON('@Html.Raw(ViewBag.Bans)');
        var grades = $.parseJSON('@Html.Raw(ViewBag.Grades)');
        var comes = $.parseJSON('@Html.Raw(ViewBag.Comes)');

        var banreadonly = @Html.Raw(ViewBag.BanReadonly);
        var gradereadonly = @Html.Raw(ViewBag.GradeReadonly);

        $('#GradeIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: grades,
            readonly: gradereadonly,
            onSelect: function (record) {
                var url = '/UserBan/GetCombos/' + record.id;
                $('#BanIDS').combobox({
                    url: url,
                });
            }
        });
        $('#BanIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: bans,
            readonly: banreadonly,
        });
        $('#ComeIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: comes,
        });

        //添加对话框
        DialogReload('学生添加',  390, 270, '/UserStud/AddToken', '#studins-grid');
    })
</script>