@model MySch.Bll.Entity.BllGradeOut

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 20px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.StepIDS)：</div>
            <input id="StepIDS" name="StepIDS" style="width:156px;" />
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.BanIDS)：</div>
            <input id="BanIDS" name="BanIDS" style="width:156px;" />
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.StudName)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudName, new { @class = "textbox-text", @readonly = "readonly" })
            </span>
            @Html.ValidationMessageFor(a => a.StudName)
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.OutIDS)：</div>
            <input id="OutIDS" name="OutIDS" style="width:156px;" />
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.OutTimeIn)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.OutTimeIn, new { @class = "textbox-text" })
            </span>
            @Html.ValidationMessageFor(a => a.OutTimeIn)
        </div>
    </div>
    @Html.HiddenFor(a => a.ID)
    @Html.HiddenFor(a => a.IDS)
    @Html.HiddenFor(a => a.PartIDS)
    @Html.HiddenFor(a => a.GradeIDS)
}

<script type="text/javascript">
    $(function () {
        //按键：焦点转移
        $(document).keypress(function (e) {
            if (e.which == 13) {
                //错误输入聚焦
                $('.field-validation-error:first').parent().find('input').focus();
                return false;
            }
        });

        var bans = $.parseJSON('@Html.Raw(ViewBag.Bans)');
        var outs = $.parseJSON('@Html.Raw(ViewBag.Outs)');
        var steps = $.parseJSON('@Html.Raw(ViewBag.Steps)');

        $('#BanIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: bans,
            readonly: true,
        });
        $('#StepIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: steps,
            readonly: true,
        });
        $('#OutIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: outs,
        });

        //添加对话框
        DialogUpdateGrids('离校手续', 390, 330, '/UserStud/OutToken', '#studins-grid', '#studouts-grid');
    })
</script>