@model MvcSch.Models.Stud

@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        $('#dialog-form').dialog({
            title: '学籍信息',
            width: 400,
            height: 435,
            closable: false,
            closed: false,
            cache: false,
            modal: true,
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    var form = $('form');
                    if (!form.validate().form()) {
                        //错误输入聚焦
                        form.find('.field-validation-error').first().parent().prev().find('input').focus();
                        return false;
                    }
                    //通过验证，添加
                    $.post('/Client/EditTokey', form.serialize(), function (d) {
                        if (d.error) {
                            $.messager.alert('错误提示', d.message, 'error');
                        } else {
                            if (d.ok) {
                                //关窗口
                                $('#dialog-form').dialogClose();
                                //更新网格
                                var row = $('#studs-grid').datagrid('getSelected');
                                var index = $('#studs-grid').datagrid('getRowIndex', row);
                                $('#studs-grid').datagrid('updateRow', { index: index, row: d.result });
                            } else {
                                $.messager.alert('错误提示', d.message, 'error');
                            }
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-no',
                handler: function () {
                    $('#dialog-form').dialogClose();
                }
            }],
            onOpen: function () {
                //重置渲染、输入验证、错误聚焦
                var form = $('form').revalidate();
                form.validate().form();
                form.find('.field-validation-error').first().parent().prev().find('input').focus();
                //检测身份证长度，不足18位，修改
                var ids = $('#StudIDS').val().replace('-')
                if (ids.length != 18) {
                    $("#StudIDS").removeAttr("readonly");
                }
            },
            onClose: function () {
                //启用按钮
                $('.easyui-linkbutton[iconcls="icon-edit"]').linkbutton('enable');
                //清除提示残留
                $('div.tooltip').remove();
            },
        });
    })

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="padding:20px 0px 0px 20px;">
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudName)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudName, new { @class = "textbox-text", @readonly = "readonly" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudName)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudSex)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudSex, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudSex)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudNation)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudNation, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudNation)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudIDS)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudIDS, new { @class = "textbox-text", @readonly = "readonly" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudIDS)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudFather)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudFather, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudFather)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudMother)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudMother, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudMother)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudMobil)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudMobil, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudMobil)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudTel)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudTel, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudTel)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudInfor)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudInfor, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudInfor)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudIsGang)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudIsGang, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudIsGang)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudIsGu)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudIsGu, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudIsGu)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudIsShou)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudIsShou, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudIsShou)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudIsCan)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudIsCan, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudIsCan)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudHome)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudHome, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudHome)
            </div>
        </div>
        <div class="form-item-row-left">
            <div>@Html.LabelFor(a => a.StudChoose)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.StudChoose, new { @class = "textbox-text" })
            </span>
            <div style="display:none;">
                @Html.ValidationMessageFor(a => a.StudChoose)
            </div>
        </div>
        <div class="form-item-row-line"></div>
    </div>
    @Html.HiddenFor(a => a.StudID)
    @Html.HiddenFor(a => a.StudGD)
    @Html.HiddenFor(a => a.ClaID)
}
