@model MySch.Bll.Entity.BllPage

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 0px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.ParentID)：</div>
            <input id="ParentID" name="ParentID" style="width:625px;" />
        </div>
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.Name)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.Name, new { @class = "textbox-text", @style = "width:300px;" })
            </span>
            @Html.ValidationMessageFor(a => a.Name)
        </div>
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.IDS)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.IDS, new { @class = "textbox-text", @style = "width:300px;" })
            </span>
            @Html.ValidationMessageFor(a => a.IDS)
        </div>
        <div class="form-item-row-line"></div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Html)：</div>
            <span class="textbox">
                @Html.TextAreaFor(a => a.Html, new { @class = "textbox-text", @style = "width:615px; height:315px;" })
            </span>
            @Html.ValidationMessageFor(a => a.Html)
        </div>
        <div class="form-item-row-line"></div>
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.Bootup)：@Html.CheckBoxFor(a => a.Bootup)</div>
        </div>
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.Fixed)：@Html.CheckBoxFor(a => a.Fixed)</div>
        </div>
        <div class="form-item-row-line"></div>
    </div>
}

<script type="text/javascript">
    $(function () {
        //按键：焦点转移
        $(document).keypress(function (e) {
            if (e.which == 13) {
                //错误输入聚焦
                $('.input-validation-error:first').focus();
            }
        });

        var parents = $.parseJSON('@Html.Raw(ViewBag.Parents)');

        //加载选择框
        $('#ParentID').combobox({
            valueField: 'id',
            textField: 'text',
            data: parents,
            readonly: true,
        });

        //添加对话框
        $('#dialog-form').dialog({
            title: '页面添加',
            width: 680,
            height: 570,
            closable: false,
            closed: false,
            cache: false,
            modal: true,
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: function () {
                    var form = $('form');
                    if (!form.validate().form()) {
                        //错误输入聚焦
                        $('.input-validation-error:first').focus();
                        return false;
                    }
                    //Html转义
                    var html = $('#Html').val();
                    $('#Html').val(escape(html));
                    //通过验证，添加
                    $.post('/AdminPage/AddToken', form.serialize(), function (d) {
                        if (d.error) {
                            $.messager.alert('错误提示', d.message, 'error');
                        } else {
                            //关窗口
                            $('#dialog-form').dialogClose();
                            //更新网格
                            $('#adminpages-grid').datagrid('appendRow', d);
                            //刷新叶子
                            var node = $('#adminpages-tree').tree('getSelected');
                            $('#adminpages-tree').tree('reload', node.target);
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-no',
                handler: function () {
                    $('#dialog-form').dialogClose();
                }
            }],
            onOpen: function () {
                //重置渲染、输入验证、错误聚焦
                var form = $('form').revalidate();
                form.validate().form();
                //错误输入聚焦
                $('.input-validation-error:first').focus();
            },
            onClose: function () {
                //启用按钮
                $('.easyui-linkbutton').linkbutton('enable');
                //清除提示
                $('div.tooltip').remove();
                $('div.combo-p').remove();
            },
        });
    })
</script>