@model MySch.Bll.Entity.BllKaoPlace

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 0px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.PlaceNo)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.PlaceNo, new { @class = "textbox-text" })
            </span>
            @Html.ValidationMessageFor(a => a.PlaceNo)
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Fixed)：@Html.CheckBoxFor(a => a.Fixed)</div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        //添加对话框
        DialogAdd('考场添加', 410, 220, '/KaoPlace/AddToken', '#kaoplaces-grid');
    })
</script>