@model MySch.Bll.Custom.KaoPlaceAdds

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 0px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Num)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.Num, new { @class = "textbox-text", @style = "width:200px;" })
            </span>
            @Html.ValidationMessageFor(a => a.Num)
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        //添加对话框
        DialogAdds('考场批量添加', 410, 330, '/KaoPlace/AddsToken', '#kaoplaces-grid');
    })
</script>