@model MySch.Bll.Entity.BllKaoPlaceEdit

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 0px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.PlaceNo)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.PlaceNo, new { @class = "textbox-text", @readonly = "readonly" })
            </span>
            @Html.ValidationMessageFor(a => a.PlaceNo)
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Fixed)：@Html.CheckBoxFor(a => a.Fixed)</div>
        </div>
    </div>
    @Html.HiddenFor(a => a.ID)
    @Html.HiddenFor(a => a.IDS)
}

<script type="text/javascript">
    $(function () {
        //修改对话框
        DialogEdit('考场修改', 410, 220, '/KaoPlace/EditToken', '#kaoplaces-grid');
    })
</script>
