@model MySch.Bll.Entity.BllGrade

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 20px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.StepIDS)：</div>
            <input id="PartStepIDS" name="PartStepIDS" style="width:156px;" />
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.YearIDS)：</div>
            <input id="YearIDS" name="YearIDS" style="width:156px;" />
        </div>
       <div class="form-item-row">
            <div>@Html.LabelFor(a => a.EduIDS)：</div>
            <input id="EduIDS" name="EduIDS" style="width:156px;" />
        </div>
    </div>
    @Html.HiddenFor(a => a.ID)
    @Html.HiddenFor(a => a.IDS)
}

<script type="text/javascript">
    $(function () {

        var edus = $.parseJSON('@Html.Raw(ViewBag.Edus)');
        var years = $.parseJSON('@Html.Raw(ViewBag.Years)');
        var partsteps = $.parseJSON('@Html.Raw(ViewBag.PartSteps)');

        //加载选择框
        $('#PartStepIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: partsteps,
            readonly: true,
        });
        $('#EduIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: edus,
            readonly: true,
        });
        $('#YearIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: years,
            readonly: true,
        });

        //删除对话框
        DialogReload('年级删除', 410, 285, '/UserGrade/DelToken', '#grades-grid');
    })
</script>