@model MySch.Bll.Entity.BllGrade

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 0px 0px 20px;">
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.StepIDS)：</div>
            <input id="StepIDS" name="StepIDS" style="width:156px;" />
        </div>
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.YearIDS)：</div>
            <input id="YearIDS" name="YearIDS" style="width:156px;" />
        </div>
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.EduIDS)：</div>
            <input id="EduIDS" name="EduIDS" style="width:156px;" />
        </div>
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.TakeNum)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.TakeNum, new { @class = "textbox-text", @style = "width:200px;" })
            </span>
            @Html.ValidationMessageFor(a => a.TakeNum)
        </div>
        <div class="form-item-row-line"></div>
  <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.CanFeng)：@Html.CheckBoxFor(a => a.CanFeng, new { @disabled = "disabled" })</div>
        </div>
        <div class="form-item-row-left1">
            <div>@Html.LabelFor(a => a.GoneModel)：@Html.CheckBoxFor(a => a.GoneModel, new { @disabled = "disabled" })</div>
        </div>
        <div class="form-item-row-line"></div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.GoneList)：</div>
            <span class="textbox">
                @Html.TextAreaFor(a => a.GoneList, new { @class = "textbox-text", @style = "width:350px; height:315px;" })
            </span>
            @Html.ValidationMessageFor(a => a.GoneList)
        </div>
    </div>
    @Html.HiddenFor(a => a.ID)
    @Html.HiddenFor(a => a.IDS)
}

<script type="text/javascript">
    $(function () {

        var edus = $.parseJSON('@Html.Raw(ViewBag.Edus)');
        var years = $.parseJSON('@Html.Raw(ViewBag.Years)');
        var steps = $.parseJSON('@Html.Raw(ViewBag.Steps)');

        //加载选择框
        $('#StepIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: steps,
            readonly: true,
        });
        $('#EduIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: edus,
            readonly: true,
        });
        $('#YearIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: years,
            readonly: true,
        });

        //删除对话框
        DialogReload('年级删除', 510, 585, '/UserGrade/DelToken', '#grades-grid');
    })
</script>