@model MySch.Bll.Entity.BllGrade

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 20px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.PartStepIDS)：</div>
            <input id="PartStepIDS" name="PartStepIDS" style="width:156px;" />
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.YearIDS)：</div>
            <input id="YearIDS" name="YearIDS" style="width:156px;" />
        </div>
       <div class="form-item-row">
            <div>@Html.LabelFor(a => a.EduIDS)：</div>
            <input id="EduIDS" name="EduIDS" style="width:156px;" />
        </div>

    </div>
    @Html.HiddenFor(a => a.ID)
    @Html.HiddenFor(a => a.IDS)
}

<script type="text/javascript">
    $(function () {
        //按键：焦点转移
        $(document).keypress(function (e) {
            if (e.which == 13) {
                //错误输入聚焦
                $('.field-validation-error:first').parent().find('input').focus();
                return false;
            }
        });

        var edus = $.parseJSON('@Html.Raw(ViewBag.Edus)');
        var years = $.parseJSON('@Html.Raw(ViewBag.Years)');
        var partsteps = $.parseJSON('@Html.Raw(ViewBag.PartSteps)');

        //加载选择框
        $('#PartStepIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: partsteps,
            readonly: true,
        });
        $('#EduIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: edus,
            panelHeight: 100,
            readonly: true,
        });
        $('#YearIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: years,
        });

        //修改对话框
        DialogReload('年级修改', 410, 285, '/UserGrade/EditToken', '#grades-grid');
    })
</script>
