@model MySch.Models.StudQueValid

@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        //按键：焦点转移
        $(document).keypress(function (e) {
            if (e.which == 13) {
                //输入聚焦
                var errorID = $('.field-validation-error:first').attr('data-valmsg-for');
                if (errorID) $('#' + errorID).focus();
            }
        });
        $('#dialog-form').dialog({
            title: '学籍查询',
            width: 350,
            height: 200,
            closable: false,
            closed: false,
            cache: false,
            modal: true,
            buttons: [{
                text: '确认',
                iconCls: 'icon-ok',
                handler: function () {
                    var form = $('form').revalidate();
                    if (!form.validate().form()) {
                        //输入聚焦
                        var errorID = $('.field-validation-error:first').attr('data-valmsg-for');
                        if (errorID) $('#' + errorID).focus();
                        return false;
                    }
                    //通过验证，添加
                    $.post('/StudReg/QueryToken', form.serialize(), function (d) {
                        if (d.error) {
                            $.messager.alert('错误提示', d.message, 'error');
                        } else {
                            //关窗口
                            $('#dialog-form').dialogClose();
                            //成功，将返回数据添加到数据网格
                            $('#studreg-grid').datagrid('loadData', d);
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-no',
                handler: function () {
                    $('#dialog-form').dialogClose();
                }
            }],
            onOpen: function () {
                //重置渲染
                var form = $('form').revalidate();
                form.validate().form();

                //输入聚焦
                var errorID = $('.field-validation-error:first').attr('data-valmsg-for');
                if (errorID) $('#' + errorID).focus();
            },
            onClose: function () {
                //启用按钮
                $('.easyui-linkbutton').linkbutton('enable');
                //清除提示
                $('div.tooltip').remove();
                $('div.combo-p').remove();
            },
        });
    })

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 20px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.IDS)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.IDS, new { @class = "textbox-text" })
            </span>
            @Html.ValidationMessageFor(a => a.IDS)
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Name)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.Name, new { @class = "textbox-text" })
            </span>
            @Html.ValidationMessageFor(a => a.Name)
        </div>
    </div>
}
