@model MySch.Bll.Entity.BllStep

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 0px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Value)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.Value, new { @class = "textbox-text" })
            </span>
            @Html.ValidationMessageFor(a => a.Value)
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Name)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.Name, new { @class = "textbox-text" })
            </span>
            @Html.ValidationMessageFor(a => a.Name)
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Graduated)：@Html.CheckBoxFor(a => a.Graduated)</div>
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.CanRecruit)：@Html.CheckBoxFor(a => a.CanRecruit)</div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        //按键：焦点转移
        $(document).keypress(function (e) {
            if (e.which == 13) {
                //错误输入聚焦
                $('.field-validation-error:first').parent().find('input').focus();
                return false;
            }
        });
        //添加对话框
        DialogAdd('分级添加', 410, 250, '/UserStep/AddToken', '#steps-grid');
    })
</script>