@model MySch.Bll.Entity.BllBan

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 20px 0px 20px;">
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.GradeIDS)：</div>
            <input id="GradeIDS" name="GradeIDS" style="width:210px;" />
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.Num)：</div>
            <span class="textbox">
                @Html.TextBoxFor(a => a.Num, new { @class = "textbox-text", @style = "width:200px;" })
            </span>
            @Html.ValidationMessageFor(a => a.Num)
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.MasterIDS)：</div>
            <input id="MasterIDS" name="MasterIDS" style="width:210px;" />
        </div>
        <div class="form-item-row">
            <div>@Html.LabelFor(a => a.GroupIDS)：</div>
            <input id="GroupIDS" name="GroupIDS" style="width:210px;" />
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        //按键：焦点转移
        $(document).keypress(function (e) {
            if (e.which == 13) {
                //错误输入聚焦
                $('.field-validation-error:first').parent().find('input').focus();
                return false;
            }
        });

        var grades = $.parseJSON('@Html.Raw(ViewBag.Grades)');
        var groups = $.parseJSON('@Html.Raw(ViewBag.Groups)');
        var masters = $.parseJSON('@Html.Raw(ViewBag.Masters)');

        //加载选择框
        $('#GradeIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: grades,
        });
        $('#GroupIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: groups,
        });
        $('#MasterIDS').combobox({
            valueField: 'id',
            textField: 'text',
            data: masters,
        });

        //添加对话框
        DialogReload('班级添加', 410, 330, '/UserBan/AddToken', '#bans-grid');
    })
</script>