@model MySch.Bll.Entity.BllStudent

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding:20px 20px 0px 20px;">
        <table id="studedits-property" style="width:350px"></table>

        <script type="text/javascript">
            var data =
                {
                    "total": 8, "rows": [
                        { "name": "@Html.DisplayNameFor(a => a.Name)", "value": "@Html.ValueFor(a => a.Name)", "group": "ID Settings", "editor": "text" },
                        { "name": "@Html.DisplayNameFor(a => a.CID)", "value": "@Html.ValueFor(a => a.CID)", "group": "ID Settings", "editor": "text" },
                        { "name": "@Html.DisplayNameFor(a => a.Name1)", "value": "@Html.ValueFor(a => a.Name1)", "group": "ID Settings", "editor": "text" },
                        { "name": "@Html.DisplayNameFor(a => a.Name2)", "value": "@Html.ValueFor(a => a.Name2)", "group": "ID Settings", "editor": "text" },
                        { "name": "@Html.DisplayNameFor(a => a.Mobil1)", "value": "@Html.ValueFor(a => a.Mobil1)", "group": "ID Settings", "editor": "text" },
                        { "name": "@Html.DisplayNameFor(a => a.Mobil2)", "value": "@Html.ValueFor(a => a.Mobil2)", "group": "ID Settings", "editor": "text" },
                        { "name": "@Html.DisplayNameFor(a => a.Birth)", "value": "@Html.ValueFor(a => a.Birth)", "group": "ID Settings", "editor": "text" },
                        { "name": "@Html.DisplayNameFor(a => a.Home)", "value": "@Html.ValueFor(a => a.Home)", "group": "ID Settings", "editor": "text" },
                    ]
                }
            $('#studedits-property').datagrid('loadData', data);
        </script>
    </div>
    @Html.HiddenFor(a => a.ID)
    @Html.HiddenFor(a => a.IDS)
    @Html.HiddenFor(a => a.Checked)
}

<script type="text/javascript">
    $(function () {
        //修改对话框
        DialogEdit('信息确认', 410, 385, '/StudEdit/FixToken', '#studedits-grid');
    })
</script>
